# Challenge: Promotions

Star Wars

## Obtaining the link

Wrote your codes in the cell below to obtain the data from the API endpoint you choose. A recap of the workflow:

In [1]:
import json
import requests as req
import pandas as pd
from pandas.io.json import json_normalize
url = "https://swapi.co/api/people"

## Reading the data

In [2]:
respuesta=req.get(url) #se establece la conexi√≥n
respuesta

In [3]:
results=respuesta.json() #se pasa a formato json

In [4]:
df_original=pd.DataFrame(results) #se pasa a data frame
df_original

,count,next,previous,results
0,87,https://swapi.co/api/people/?page=2,None,"{'name': 'Luke Skywalker', 'height': '172', 'm..."
1,87,https://swapi.co/api/people/?page=2,None,"{'name': 'C-3PO', 'height': '167', 'mass': '75..."
2,87,https://swapi.co/api/people/?page=2,None,"{'name': 'R2-D2', 'height': '96', 'mass': '32'..."
3,87,https://swapi.co/api/people/?page=2,None,"{'name': 'Darth Vader', 'height': '202', 'mass..."
4,87,https://swapi.co/api/people/?page=2,None,"{'name': 'Leia Organa', 'height': '150', 'mass..."
5,87,https://swapi.co/api/people/?page=2,None,"{'name': 'Owen Lars', 'height': '178', 'mass':..."
6,87,https://swapi.co/api/people/?page=2,None,"{'name': 'Beru Whitesun lars', 'height': '165'..."
7,87,https://swapi.co/api/people/?page=2,None,"{'name': 'R5-D4', 'height': '97', 'mass': '32'..."
8,87,https://swapi.co/api/people/?page=2,None,"{'name': 'Biggs Darklighter', 'height': '183',..."
9,87,https://swapi.co/api/people/?page=2,None,"{'name': 'Obi-Wan Kenobi', 'height': '182', 'm..."

In [5]:
df = df_original.results.apply(pd.Series) #se extrae la informaci√≥n que me interesa

df

,name,height,mass,hair_color,skin_color,eye_color,birth_year,gender,homeworld,films,species,vehicles,starships,created,edited,url
0,Luke Skywalker,172,77,blond,fair,blue,19BBY,male,https://swapi.co/api/planets/1/,"[https://swapi.co/api/films/2/, https://swapi....",[https://swapi.co/api/species/1/],"[https://swapi.co/api/vehicles/14/, https://sw...","[https://swapi.co/api/starships/12/, https://s...",2014-12-09T13:50:51.644000Z,2014-12-20T21:17:56.891000Z,https://swapi.co/api/people/1/
1,C-3PO,167,75,n/a,gold,yellow,112BBY,n/a,https://swapi.co/api/planets/1/,"[https://swapi.co/api/films/2/, https://swapi....",[https://swapi.co/api/species/2/],[],[],2014-12-10T15:10:51.357000Z,2014-12-20T21:17:50.309000Z,https://swapi.co/api/people/2/
2,R2-D2,96,32,n/a,"white, blue",red,33BBY,n/a,https://swapi.co/api/planets/8/,"[https://swapi.co/api/films/2/, https://swapi....",[https://swapi.co/api/species/2/],[],[],2014-12-10T15:11:50.376000Z,2014-12-20T21:17:50.311000Z,https://swapi.co/api/people/3/
3,Darth Vader,202,136,none,white,yellow,41.9BBY,male,https://swapi.co/api/planets/1/,"[https://swapi.co/api/films/2/, https://swapi....",[https://swapi.co/api/species/1/],[],[https://swapi.co/api/starships/13/],2014-12-10T15:18:20.704000Z,2014-12-20T21:17:50.313000Z,https://swapi.co/api/people/4/
4,Leia Organa,150,49,brown,light,brown,19BBY,female,https://swapi.co/api/planets/2/,"[https://swapi.co/api/films/2/, https://swapi....",[https://swapi.co/api/species/1/],[https://swapi.co/api/vehicles/30/],[],2014-12-10T15:20:09.791000Z,2014-12-20T21:17:50.315000Z,https://swapi.co/api/people/5/
5,Owen Lars,178,120,"brown, grey",light,blue,52BBY,male,https://swapi.co/api/planets/1/,"[https://swapi.co/api/films/5/, https://swapi....",[https://swapi.co/api/species/1/],[],[],2014-12-10T15:52:14.024000Z,2014-12-20T21:17:50.317000Z,https://swapi.co/api/people/6/
6,Beru Whitesun lars,165,75,brown,light,blue,47BBY,female,https://swapi.co/api/planets/1/,"[https://swapi.co/api/films/5/, https://swapi....",[https://swapi.co/api/species/1/],[],[],2014-12-10T15:53:41.121000Z,2014-12-20T21:17:50.319000Z,https://swapi.co/api/people/7/
7,R5-D4,97,32,n/a,"white, red",red,unknown,n/a,https://swapi.co/api/planets/1/,[https://swapi.co/api/films/1/],[https://swapi.co/api/species/2/],[],[],2014-12-10T15:57:50.959000Z,2014-12-20T21:17:50.321000Z,https://swapi.co/api/people/8/
8,Biggs Darklighter,183,84,black,light,brown,24BBY,male,https://swapi.co/api/planets/1/,[https://swapi.co/api/films/1/],[https://swapi.co/api/species/1/],[],[https://swapi.co/api/starships/12/],2014-12-10T15:59:50.509000Z,2014-12-20T21:17:50.323000Z,https://swapi.co/api/people/9/
9,Obi-Wan Kenobi,182,77,"auburn, white",fair,blue-gray,57BBY,male,https://swapi.co/api/planets/20/,"[https://swapi.co/api/films/2/, https://swapi....",[https://swapi.co/api/species/1/],[https://swapi.co/api/vehicles/38/],"[https://swapi.co/api/starships/48/, https://s...",2014-12-10T16:16:29.192000Z,2014-12-20T21:17:50.325000Z,https://swapi.co/api/people/10/

In [6]:
df.height = df.height.astype(int)
df.mass = df.mass.astype(int)

In [7]:
df.dtypes

name          object
height         int64
mass           int64
hair_color    object
skin_color    object
eye_color     object
birth_year    object
gender        object
homeworld     object
films         object
species       object
vehicles      object
starships     object
created       object
edited        object
url           object
dtype: object

## Bonus

Extract the following information from the data:

* The tallest

* The shortest

* The heaviest

* The lightest

## Tallest

In [8]:
df[df.height == df.height.max()]

,name,height,mass,hair_color,skin_color,eye_color,birth_year,gender,homeworld,films,species,vehicles,starships,created,edited,url
3,Darth Vader,202,136,none,white,yellow,41.9BBY,male,https://swapi.co/api/planets/1/,"[https://swapi.co/api/films/2/, https://swapi....",[https://swapi.co/api/species/1/],[],[https://swapi.co/api/starships/13/],2014-12-10T15:18:20.704000Z,2014-12-20T21:17:50.313000Z,https://swapi.co/api/people/4/

## Shortest

In [9]:
df[df.height == df.height.min()]

,name,height,mass,hair_color,skin_color,eye_color,birth_year,gender,homeworld,films,species,vehicles,starships,created,edited,url
2,R2-D2,96,32,n/a,"white, blue",red,33BBY,n/a,https://swapi.co/api/planets/8/,"[https://swapi.co/api/films/2/, https://swapi....",[https://swapi.co/api/species/2/],[],[],2014-12-10T15:11:50.376000Z,2014-12-20T21:17:50.311000Z,https://swapi.co/api/people/3/

## Heaviest

In [10]:
df[df.mass == df.mass.max()]

,name,height,mass,hair_color,skin_color,eye_color,birth_year,gender,homeworld,films,species,vehicles,starships,created,edited,url
3,Darth Vader,202,136,none,white,yellow,41.9BBY,male,https://swapi.co/api/planets/1/,"[https://swapi.co/api/films/2/, https://swapi....",[https://swapi.co/api/species/1/],[],[https://swapi.co/api/starships/13/],2014-12-10T15:18:20.704000Z,2014-12-20T21:17:50.313000Z,https://swapi.co/api/people/4/

## Lightest

In [11]:
df[df.mass == df.mass.min()]

,name,height,mass,hair_color,skin_color,eye_color,birth_year,gender,homeworld,films,species,vehicles,starships,created,edited,url
2,R2-D2,96,32,n/a,"white, blue",red,33BBY,n/a,https://swapi.co/api/planets/8/,"[https://swapi.co/api/films/2/, https://swapi....",[https://swapi.co/api/species/2/],[],[],2014-12-10T15:11:50.376000Z,2014-12-20T21:17:50.311000Z,https://swapi.co/api/people/3/
7,R5-D4,97,32,n/a,"white, red",red,unknown,n/a,https://swapi.co/api/planets/1/,[https://swapi.co/api/films/1/],[https://swapi.co/api/species/2/],[],[],2014-12-10T15:57:50.959000Z,2014-12-20T21:17:50.321000Z,https://swapi.co/api/people/8/